@use 'variables' as v;
@use 'mixins' as m;

html,
body {
  background: v.$base-background-color;
  color: v.$base-font-color;
  font-family: v.$base-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: tabular-nums; // 数字フォントの幅を等幅にする
  line-break: strict; // 約物や小文字を置き去りにして改行させない
  overflow-wrap: anywhere; // 行内に単語を収められない場合に折り返す
  overflow-x: clip;
  text-spacing-trim: trim-start; // 英字や日本語の約物が重複した場合に全角分のスペースを確保させない
  word-break: normal; // 単語の分割はブラウザのデフォルトであることを明記
}

a {
  color: v.$base-link-color;
  text-decoration: none;
}
