// markdown 用スタイリング
@use '#base/app/assets/styles/variables' as v;

.hm-markdowon {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1.3;
  }

  h1 {
    margin-bottom: 32px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  h3,
  h4,
  h5 {
    font-weight: 400;
    margin-bottom: 16px;
  }

  ul,
  ol {
    margin-bottom: 24px;

    > li {
      padding-left: 1em;
      text-indent: -1em;

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  li {
    line-height: 1.3;
    list-style-position: inside;

    > ul {
      margin: 16px 0;
      padding-left: 48px;
    }

    ol {
      counter-reset: ol-item;
      list-style: none;
      margin: 16px 0;
      padding-left: 28px;

      > li {
        padding-left: 1.5em;
        position: relative;
        text-indent: 0;

        // list-style: none だけで消えないので
        &::marker {
          content: '';
        }

        &::before {
          // インデントした数値は 「1)」の表示にする
          content: counter(ol-item) ')  ';
          counter-increment: ol-item 1;
          display: block;
          left: 0;
          position: absolute; // 数値の桁数が違う場合の見た目に対応
          top: 0;
          width: 100px;
        }
      }
    }
  }
  /* stylelint-disable selector-max-compound-selectors */
  ul > li {
    list-style: none;

    &::before {
      content: '・';
    }

    ul > li {
      list-style: circle;

      ul > li {
        list-style: disc;
      }
    }
  }

  /* stylelint-ensable selector-max-compound-selectors */
  ol > li {
    list-style: decimal;
    list-style-position: inside;
  }

  ol[type='a'] > li {
    list-style: lower-latin;
    list-style-position: inside;
  }

  p {
    line-height: 1.6;
    margin-bottom: 24px;
  }

  img {
    display: block;
    margin: 24px auto;
    max-width: 100%;
    width: fit-content;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 24px auto;
    max-width: 100%;
    min-width: 50%;
    width: fit-content;
  }

  code {
    background-color: v.$violet;
    padding: 2px 5px;
  }

  table th,
  table td {
    padding: 8px 12px;
    text-align: center;
  }

  table tr:nth-child(odd) {
    background-color: v.$blue;
  }

  thead tr:first-child {
    background-color: v.$blue;
  }
}
